<h3>記事投稿機能</h3>
<p>
  DIGIHAIは求人を募集することもできます。<br>
  「求人を投稿」ボタンから仕事を募集してみましょう！<br>
  タイトル、募集要項、画像を入力するとすぐに投稿できます。<br>
  また、各投稿にはお気に入り機能がついているので誰がお気に入りに登録したかひと目でわかります。<br>
  「募集中の求人」から求人一覧を見ることができます。
</p>
