<h3>レビュー機能</h3>
<p>
  DIGIHAIは直感的に使えます。<br>
  まずはログインし、「配達員一覧」から各配達員のレビューを見ましょう。<br>
  DIGIHAIは、レビューを見るだけでなく、レビューを投稿することも可能です。<br>
  実際に仕事を完了したら、レビューを投稿しましょう！<br>
  あなたのレビューが、お互いにとってメリットになります。<br>
  なぜなら、発注者は配達員の評価が一目瞭然ですし、配達員は高評価が多ければどんどん仕事を受注できる可能性があるからです。<br>
</p>
