<% @users.each do |user| %>
  <div class="container">
    <div class="card">
      <ul class="users">
          <li>
            <%= image_tag avatar_url(user), class: "round-img"%>
            <%= link_to user.name, user %>
          </li>
      </ul>
      <div class="card-body">
        <div class="text-right">
          <%= link_to user_path(user.id), class: 'btn btn-primary btn-lg btn-block' do %>
            プロフィール
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="pagination justify-content-center my-5">
  <%= paginate @users %>
</div>
