footer {
  width: 100%;
  background-color: #11376b;
  color: #ffffff;
  p{
    margin: 0 30px;
  }
  .footer-content{
    float: right;
    padding: 25px;
  }
  .foot-wrap ul{
    list-style: none;
    line-height:20px;
  }
  .footer-box{
    padding: 60px;
  }
  .footer-nav{
    text-decoration: none;
    color: #777777;
  }
}
