.container{
  background-color: #f4f4f4;
  border-radius: 10px;
  margin: 40px auto;
  padding: 40px;
  h1,p{
    text-align: center;
    line-height: 200%;
  }
  .loginBtn{
    text-align: center;
  }
}
