.post-profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.cover{
  background-color: white;
  border-radius: 5px;
  padding: 40px;
}

.card-img-top{
   display: inline-block;
    background-color: #ccc;
    background-repeat: no-repeat;
    margin: 5px;
    width: auto;
    height: auto;
    border: 1px solid #ccc;
    background-size: cover;
}

.card-wrap {
  margin: 40px 0px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.no-text-decoration:hover {
  text-decoration: none;
}

.black-color {
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-decoration: none;
  h2{
    margin: 5px;
  }
}

.parts {
  margin: 12px 0;
}

.love {
  background-image: image-url("parts5");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px !important;
}

.post-time {
  margin:0;
  color:#999;
  font-size:10px;
}

.post-sub-text {
  text-decoration: none;
  color: #262626;
}
// 投稿詳細
.card-show{
  padding: 10px;
}

// 削除アイコン
.delete-post-icon {
  background-image: image-url("parts9");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: 20px !important;
  color: #262626;
  font-size: 20px;
  margin-top: 20px;
}

.icon-list{
  list-style: none;
  display: flex;
  margin-bottom: 0;
}

// お気に入り
.loved {
  background-image: image-url("parts7");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px !important;
  margin: 10px;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  margin: 10px;
}
// 詳細ボタン
.btn-gradient-radius:focus{
  outline: none;
}

.show-btn{
  text-align: center;
  margin: 20px auto;
}

// userアイコン
.user-icon{
  margin-bottom: 10px;
}

.back-link-post{
  padding-right: 25px;
  text-align: right;
}
