.rating-box .ratings .fa{
  font-size: 30px;
  color:#ed9220;
  cursor: pointer;
}

.main-rating {
  display: flex;
  padding-left: 16px;
}

.rating-value-display {
  font-size: 20px;
}

p .left{
  text-align: left;
}

.btn{
  font-size: 12px;
}

.form-area{
  padding-left: 16px;
}

.textarea {
  resize: none;
  width:300px;
  height:200px;
}

.button{
  margin: 16px 0;
}
