<footer>
  <div class="foot-wrap">
    <div class="footer-content">
      <%= image_tag "logo1.png", width: "200px", height: "80px", class: "footer-logo" %>
      <p>Copyright © DIGIHAI</p>
    </div>
      <ul class="footer-box">
        <li class="nav-item">
          <%= link_to "利用規約", static_pages_terms_path, class: "footer-nav" %>
        </li>
        <li class="nav-item">
          <%= link_to "ABOUT", static_pages_home_path(anchor: "about"), class: "footer-nav" %>
        </li>
      </ul>
  </div>
</footer>
