<footer>
  <ul class="footer-content">
    <li>
      Copyright © DIGIHAI
    </li>
    <li class="nav-item text-right ">
      <%= link_to '利用規約', static_pages_terms_path, class: 'nav-link' %>
    </li>
  </ul>
</footer>
